

.admin-login{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
}




.admin-login form{
    width: 500px;
    padding: clamp(24px, 3.61vw, 52px);
    border-top: 4px solid var(--secondary);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 16px;
}

main{
    margin: 0;
}